# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake
extract_feature/build/
.vscode/
rgbd_dataset_freiburg1_room.tgz
rgbd_dataset_freiburg1_xyz.tgz
rgbd_dataset_freiburg1_room
rgbd_dataset_freiburg1_xyz
.gitignore
../3_opencv/cmake-build-debug/*
.idea/
cmake-build-debug/*
extract_feature/cmake-build-debug/*
3_opencv/cmake-build-debug/*
/voxel_grid/build/*
/statistical_removal/build/*

